.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgray;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 100%;
    z-index: 999;
}

.header__left {
    display: flex;
    align-items: center;
}

.home__img {
    background: url(../../assets/logo-01/LinkAcademy-logos_black.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* box-shadow: inset 0 0 0 9px rgb(255 255 255 / 30%); */
    justify-self: center;
    width: 80px;
    height: 80px;
}

.header__search {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 22px;
    color: gray;
    background-color: #eef3f8;
}

.header__search > input {
    outline: none;
    border: none;
    background: none;
}

.header__right {
    display: flex;
    align-items: center;
}